POSTGRES_DSN=postgresql://postgres:postgres@localhost:5432/postgres

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

DLT_DATASET_NAME=lab5_raw
DBT_SCHEMA=analytics

MYSQL_DSN=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=adventureworks2014
MYSQL_PRODUCT_TABLE=production.product
MYSQL_OUTPUT_TABLE=analytics.product_rating_from_csv

MSSQL_DSN=
MSSQL_HOST=localhost
MSSQL_PORT=
MSSQL_DB=AdventureWorks2014
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_TRUSTED_CONNECTION=true
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_ENCRYPT=no
MSSQL_TRUST_SERVER_CERTIFICATE=yes
MSSQL_PRODUCT_TABLE=Production.Product
MSSQL_OUTPUT_TABLE=dbo.product_rating_from_csv
