# TRZEBA STWORZYĆ NOWĄ BAZE SANYCH W MSSQL SERWERZE

[destination.mssql.credentials]
database = "AdventureWorks_dlt_dbt"
username = ""
password = ""
host = "<HOST_NAME>"

[destination.mssql.credentials.query]
driver = "ODBC Driver 17 for SQL Server"
trusted_connection = "yes"
Encrypt = "yes"
TrustServerCertificate = "yes"

[sources.mssql]
connection_string = "mssql+pyodbc://@<HOST_NAME>/AdventureWorks2025?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes&Encrypt=yes&TrustServerCertificate=yes"

[sources.csv_reviews]
path = "zad1/SBI2526-LAB-Rating-FixedDate.csv"
